<a href="https://colab.research.google.com/github/DorotaJanosz/machine-learning-bootcamp/blob/master/supervised/03_classification/07_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import seaborn

np.random.seed(42)
np.set_printoptions(precision=6, suppress=True)

In [14]:
pogoda = ['słonecznie', 'deszczowo', 'pochmurno', 'deszczowo', 'słonecznie', 'słonecznie',
          'pochmurno', 'pochmurno', 'słonecznie']
temperatura = ['ciepło', 'zimno', 'ciepło', 'ciepło', 'ciepło', 'umiarkowanie',
               'umiarkowanie', 'ciepło', 'zimno']

spacer = ['tak', 'nie', 'tak', 'nie', 'tak', 'tak', 'nie', 'tak', 'nie']      

raw_df = pd.DataFrame(data={'pogoda': pogoda, 'temperatura': temperatura, 'spacer': spacer})
df = raw_df.copy()
df

       pogoda   temperatura spacer
0  słonecznie        ciepło    tak
1   deszczowo         zimno    nie
2   pochmurno        ciepło    tak
3   deszczowo        ciepło    nie
4  słonecznie        ciepło    tak
5  słonecznie  umiarkowanie    tak
6   pochmurno  umiarkowanie    nie
7   pochmurno        ciepło    tak
8  słonecznie         zimno    nie

###Przygotowanie danych do modelu

In [15]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['spacer'] = encoder.fit_transform(df['spacer'])

df

       pogoda   temperatura  spacer
0  słonecznie        ciepło       1
1   deszczowo         zimno       0
2   pochmurno        ciepło       1
3   deszczowo        ciepło       0
4  słonecznie        ciepło       1
5  słonecznie  umiarkowanie       1
6   pochmurno  umiarkowanie       0
7   pochmurno        ciepło       1
8  słonecznie         zimno       0

In [16]:
df = pd.get_dummies(df, drop_first=True)
df

   spacer  pogoda_pochmurno  ...  temperatura_umiarkowanie  temperatura_zimno
0       1                 0  ...                         0                  0
1       0                 0  ...                         0                  1
2       1                 1  ...                         0                  0
3       0                 0  ...                         0                  0
4       1                 0  ...                         0                  0
5       1                 0  ...                         1                  0
6       0                 1  ...                         1                  0
7       1                 1  ...                         0                  0
8       0                 0  ...                         0                  1

[9 rows x 5 columns]

In [0]:
data = df.copy()
target = data.pop('spacer')

In [18]:
data

   pogoda_pochmurno  ...  temperatura_zimno
0                 0  ...                  0
1                 0  ...                  1
2                 1  ...                  0
3                 0  ...                  0
4                 0  ...                  0
5                 0  ...                  0
6                 1  ...                  0
7                 1  ...                  0
8                 0  ...                  1

[9 rows x 4 columns]

In [19]:
target

0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    1
8    0
Name: spacer, dtype: int64

###Klasyfikator bayesowski

In [21]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(data, target)

GaussianNB(priors=None, var_smoothing=1e-09)

In [22]:
model.score(data, target)

0.7777777777777778

In [24]:
data.iloc[[0]]

   pogoda_pochmurno  ...  temperatura_zimno
0                 0  ...                  0

[1 rows x 4 columns]

In [33]:
model.predict(data.iloc[[0]])

array([0])

In [34]:
encoder.classes_[model.predict(data.iloc[[0]])[0]]

'tak'

In [30]:
model.predict_proba(data.iloc[[0]])

array([[0.000006, 0.999994]])